#navbar {
  width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  
  ul {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    padding: 1em;
    white-space: nowrap;
    letter-spacing: 1px;
    color :p
  }
  
  ul li a:hover {
    border-bottom: 3px solid #fff;
  }
  
  
  .header 
  {
      padding: 20px;
      height: 100vh;
      background: url(https://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/1650C/production/_120340419_virat_kohli_getty8.jpg) no-repeat center center;
      background-size: cover;
      position: relative;
              margin: 0;
              font-weight: 900;
              font-size: 3rem;
              text-align: center;
              color: #fff;
              margin-bottom: 20px;
      }
      .content 
      {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
      color :crimson
      }
  
  
  body
  {
      background-image: url(https://images.unsplash.com/photo-1583423230902-b653abc541eb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  }
  .flex1
  {
      display: flex;
      color: white;
      padding: 100px 150px 150px 100px;
      position: center;
      background: linear-gradient(to bottom, #00ace0, #020086);
       flex: 1;
      }
      h1
      {
          font-size: 325%;
          text-align: center;
      }
      p
      {
          font-weight: 400%;
          font-family: serif;
          font-size: 150%;
          text-align: center;
          padding-left: 20%;
          padding-right: 20%;
      }
  .flex2
  {
      display: flex;
      color: white;
      padding: 100px 150px 150px 100px;
      position: center;
        background: linear-gradient(to bottom, #180f27, #2b002c, #642c48);
         flex: 1;
      }
      h1
      {
          font-size: 325%;
          text-align: center;
      }
      p
      {
          font-weight: 400%;
          font-family: sans-serif;
          font-size: 150%;
          padding-left: 3%;
          padding-right: 3%;
      }